body {
	font-family: "Times New Roman", serif;
	background-color: #F2FFFC;
}

main h1 {
	background-color: rgb(133, 25, 68);
	color: rgb(255, 255, 255);
	text-align: center;
}

p {
	text-align: justify;	
}

h1, h2 {
	font-family: "Sansita", sans-serif;
}